*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-align: justify;
}

/* header/nav */
header{
    /* border: 2px solid green; */
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    top: 0;
    z-index: 99999;
    width: 100%;
    line-height: 23px; 

    
}
    /* nav container */
header .nav{
    display: flex;
    flex-direction: row;
    /* margin-inline: auto; */
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid green; */
}
header .nav{
    padding: 0px 120px;
    
}
  /* nav .leftside */
header .nav .leftside .img {
    font-size: 20px; 
}

/* nav .rightside */
.nav .rightside{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    /* display: none; */

}
.nav .rightside ul {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    color: #081f89;
}
.nav .rightside ul a:hover{
    color: #2ea3f2;
}

      /* dropdown menu */
.nav .rightside ul .drop{
    /* border: 2px solid red; */
    position: absolute;
    background: #ffffff;
    width: 100%;
    min-height: 5.9px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
    border-top: 3px solid #2ea3f2;
    border-radius: 5px;
    top: 30px;
    padding: 10px 32.3542px;
    width: 100%;

}
.nav .rightside ul .drop{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;

}

.nav .rightside ul .drop{
    opacity: 1;
    z-index: 9999;
    visibility: visible;
    display: none;
}
.nav .rightside ul .drop a{
    color: black;
}
.nav .rightside ul .drop li a:hover{
    color: blue;
}
.nav .rightside li:hover > .dp .drop{
    display: block;
}
 .dp{
    /* border: 2px solid red; */
    height: 40px;
    width: 200px;
    position: absolute;
}

.nav .menubar{
    background-color: #ffffff;
    color: #2ea3f2;
    padding: .7em;
    border-radius: 2px;
    display: none;
    
}
.nav  .menubar .fa{
    font-size: 1.5em;
}
        /* container1 */

.container1 {
    padding: 50px 0px;
    background: #ffffff;
    color: #666666;
    line-height: 1.7em;
    font-weight: 500;
}    
      /* container1 background image */

.container1{
    /* border: 2px solid red; */
    margin-top: 5.4em;
    background-image: linear-gradient(180deg, rgba(150, 105, 97, 0.67) 0%, rgba(2, 0, 76, 0.84) 100%), url(/images/sqi\ shelf.jpg) !important;
    position: relative;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat; 
}



.container1 .wrap-row {
    padding: 30px 0px;
    margin: 0px 95.4062px 0px 95.3958px;
}

.container1 .wrap-col {
    margin-bottom: 30px;
    width: 100%;
}
.container1 .wrap-col h3{
    font-size: 56px;
    padding: 0px 0px 10px;
    color: #ffffff;
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    line-height: 1em;
    color: #ffffff !important
}
.container1 .wrap-col p {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    line-height: 1.7em;
    font-weight: 500;
}

  /* container2 */


.container2 {
    /* border: 2px solid red; */
    line-height: 1.7em;
    font-weight: 500;
    padding: 50px 0px;
    color: #ffffff;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.container2 .con2 {
    padding: 30px 0px;
    margin: 0px 95.4062px 0px 95.3958px;
}
.container2 .con2 p {
    font-size: 14px;
    color: #666666;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    text-align: justify;
    /* line-height: 1.7em; */
    font-weight: 500;
}    
      /* container3 */

.container3 {
    /* border: 2px solid red; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    background: #000442;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.container3 .con3 {
    padding: 30px 0px;
    margin: 0px 95.4062px 0px 95.3958px;
}
.container3 .con3 h3 {
    font-size: 36px;
    padding: 0px 0px 10px;
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
}
.container3 .con3row {
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
    align-content: center;
    text-align: justify;
    padding: 30px 0px;
    line-height: 1.7em;
    margin: 0px 95.4062px 0px 95.3958px;
}
.container3 .con3row .img{
    width: 45%;
}
.container3 .con3row .img img{
    width: 100%;
    height: 80%;
}
.container3 .con3row .at{
    width: 45%;
}
.container3 .con3row .at p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
    margin-left: 80px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}


    /* container4 */
.container4 {
    /* border: 2px solid red; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    background: #ff9900;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.container4 .con4 {
    padding: 30px 0px;
    margin: 0px 95.4062px 0px 95.3958px;
}
.container4 .con4 h3 {
    font-size: 36px;
    padding: 0px 0px 10px;
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
}
.container4 .con4row {
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
    align-content: center;
    text-align: justify;
    padding: 30px 0px;
    line-height: 1.7em;
    margin: 0px 95.4062px 0px 95.3958px;
}
.container4 .con4row .img{
    width: 45%;
}
.container4 .con4row .img img{
    width: 100%;
    height: 80%;
}
.container4 .con4row .virtual{
    width: 45%;
}
.container4 .con4row .virtual p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
    margin-left: 80px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}


     /* container5 */

.container5 {
    /* border: 2px solid red; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    background: #000442;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.container5 .con5 {
    padding: 30px 0px;
    margin: 0px 95.4062px 0px 95.3958px;
}
.container5 .con5 h3 {
    font-size: 36px;
    padding: 0px 0px 10px;
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
}
.container5 .con5row {
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
    align-content: center;
    text-align: justify;
    padding: 30px 0px;
    line-height: 1.7em;
    margin: 0px 95.4062px 0px 95.3958px;
}
.container5 .con5row .img{
    width: 45%;
}
.container5 .con5row .img img{
    width: 100%;
    height: 80%;
}
.container5 .con5row .students{
    width: 45%;
}
.container5 .con5row .students p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
    margin-left: 80px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}

    /*   beginning of footer     */

    .footer-container{
        /* border: 2px solid red; */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding: 2rem 6rem;
        margin: 60px 0px 0px;
        gap: 30px;
      }
       /*  first column for footer  */
      .first-footer-column{
        /* border: 2px solid green; */
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 30px 0px;
        width: 60%;
      }
      .footer-container .first-container{
        /* border: 2px solid red; */
        display: flex;
        width: 100%;
      }
      .first-footer-row{
        /* border: 2px solid yellow; */
        line-height: 26px;
      }
      .first-footer-row h3{
        color: #00208a;
        font-size: 19px;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-weight: 600;
        line-height: 1.2em;
        padding: 0px 0px 10px;
        letter-spacing: -0.01em;
        width: 45%;
      }
      .first-footer-row h4{
        font-size: 15px;
        font-weight: 500;
        line-height: 1.3em;
        padding: 0px 0px 10px;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        color: black;
        width: 45%;

      }
      .first-footer-row .icon{
        /* border: 2px solid blue; */
        margin: 0px 0px 8px;
        display: inline-flex;
        gap: 20px;
        line-height: 2.7em;
        width: 40%;
      }
      .first-footer-row  a{
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.01em;
        line-height: 1.6em;
      }
      .second-footer-row{
        /* border: 2px solid purple; */
        display: flex;
        gap: 80px;
      }
      .second-footer-row .quick-link h6{
        margin: 0px 0px 10px;
        font-size: 15px;
        color: black;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-weight: 600;
        letter-spacing: -0.01em;
        line-height: 1.4em;
       }
       .second-footer-row .quick-link p{
        font-size: 14px;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-weight: 500;
        letter-spacing: -0.01em;
        line-height: 1.6em;
        margin-bottom: 20px !important;
       }
      .second-footer-row .ibadan-address h6{
        padding: 0px 0px 10px;
        font-size: 15px;
        color: #333333;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-weight: 600;
        letter-spacing: -0.01em;
        line-height: 1.4em;
       }
       .second-footer-row .ibadan-address p{
        padding-bottom: 1em;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.01em;
        line-height: 1.6em;
        margin-bottom: 20px !important;
       }
       .second-footer-row .ibadan-address strong{
        padding: 0px 0px 14px;
        padding-bottom: 1em;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -0.01em;
        line-height: 1.6em;
        margin-bottom: 20px !important;
       }
       .second-footer-row .ibadan-address .locate{
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        padding: 0px 0px 14px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.01em;
        line-height: 1.6em;
        margin-bottom: 20px !important;
        color: #2ea3f2;
       }

      /*  second column for footer  */
     .second-footer-column{
        /* border: 2px solid red; */
        width: 30%;
        margin: 30px 0px;
      }
      .second-footer-column .third-row{
        /* border: 2px solid yellow; */
        display: flex;
        flex-direction: row;
        gap: 30px;
      }
      .second-footer-column .address1{
        /* border: 2px solid red; */
        width: 100%;
      }
      .second-footer-column .address1 h6{
        padding: 0px 0px 10px;
        font-size: 15px;
        color: #333333;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-weight: 600;
        letter-spacing: -0.01em;
        line-height: 1.4em;
       }
       .second-footer-column .address1 p{
        padding-bottom: 1em;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.01em;
        line-height: 1.6em;
        margin-bottom: 20px !important;
       }
       .second-footer-column .address1 strong{
        padding: 0px 0px 14px;
        padding-bottom: 1em;
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -0.01em;
        line-height: 1.6em;
        margin-bottom: 20px !important;
       }
       .second-footer-column .address1 .locate{
        font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        padding: 0px 0px 14px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.01em;
        line-height: 1.6em;
        margin-bottom: 20px !important;
        color: #2ea3f2;
       }
       /*    End of footer */

   /* blue footer */

   .pb{
    /* border: 2px solid red; */
    background-color: #050044;
    padding:  0px 0px 1px;
    border-top-width: 1px;
   }
   .pb .pb-container{
    /* padding: 30px 0px; */
    padding: 14px 0px 0px;
    margin: 0px 0px 30px;
    min-height: 1px;
    z-index: 2;
    position: relative;
   }
   .pb .pb-textcont{
    padding-top: 14px;
    margin-bottom: 30px;
    /* width: 100%; */
   }
   .pb .pb-text{
    color: #ffffff;
    margin: 0px 15px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    letter-spacing: -0.01em;
    line-height: 1.6em;
   }
/* Media Query for large screen */
@media(max-width:1200px){
    header{
        width: 100%; 
    }
    .nav  .menubar .fa{
        font-size: 1.5em;
    }

    .container2 .con2 {
        padding: 20px 0px;
        /* margin: 0px 45.4062px 0px 45.3958px; */
    }

    .container3 .con3row {
        display: flex;
        flex-direction: column;
        margin: 0px 95.4062px 0px 95.3958px;
    }
    .container3 .con3row .img{
        width: 100%;
        margin-bottom: 40px;
    }
    .container3 .con3row .at{
        width: 100%;
    }
    .container3 .con3row .at p{
        margin-left: 0px;
    }
    .container4 .con4row {
        display: flex;
        flex-direction: column;
        margin: 0px 95.4062px 0px 95.3958px;
    }
    .container4 .con4row .img{
        width: 100%;
        margin-bottom: 40px;
    }
    .container4 .con4row .virtual{
        width: 100%;
    }
    .container4 .con4row .virtual p{
        margin-left: 0px;
    }

    .container5 .con5row {
        display: flex;
        flex-direction: column;
        margin: 0px 95.4062px 0px 95.3958px;
    }
    .container5 .con5row .img{
        width: 100%;
        margin-bottom: 40px;
    }
    .container5 .con5row .students{
        width: 100%;
    }
    .container5 .con5row .students p{
        margin-left: 0px;
    }
    .footer-container{
        flex-direction: column;
        width: 100%;
        padding: 0rem 2rem;
        margin: 60px 0px 0px;
        
      }
      .first-footer-row h3{
        width: 100%;
      }
      .first-footer-row h4{
        width: 100%;
      }
     
      .second-footer-column .third-row{
        flex-direction: column;
        width: 100%;
      }
      .second-footer-row{
        flex-direction: column;
      }
      .second-footer-column{
        /* border: 2px solid red; */
        width: 100%;
        margin: 30px 0px;
      }
    }
/* Media Query for medium screen */
@media(max-width:970px){
    header{
        width: 100%; 
    }
    .nav .rightside {
        display: none;
    }
    .nav .menubar {
        display: block;
        
    }
    .nav  .menubar .fa{
        font-size: 1.4em;
    }
    .footer-container{
        padding: 0rem 2rem;
      }
      .first-footer-column{
        flex-direction: column;
        width: 100%;
      }
      .first-footer-row .icon{
        gap: 15px;
      }
}

/* Media Query for medium screen */
@media(max-width:770px){
    header{
        width: 100%; 
    }
    header .nav .leftside {
        font-size: 10px;
        
    }
    .nav .rightside {
        display: none;
    }
    .nav .menubar{
        display: block;
        
    }
    .nav  .menubar .fa{
        font-size: 1.2em;
    }
    header .nav{
        gap: 120px;
    }
    header .nav{
        padding: 0px 90px;
    }
    .container41 .foot-container{
        padding: 0px 49.4062px 0px 49.3958px;
       }
}


/* Media Query for small screen */
@media(max-width:580px){
    header{
        width: 100%; 
    }
    .nav .rightside {
        display: none;
    }
    .nav .menubar{
        display: block;
        
    }
    .nav  .menubar .fa{
        font-size: 1em;
    }
    header .nav{
        gap: 90px;
    }
    header .nav{
        padding: 0px 50px;
    }
    .first-footer-row .icon{
        gap: 13px;
      }
}
 /* media query at 280px */

 @media(max-width:280px){
    .container1 {
        width: fit-content;
    }  
    .container2 {
       width: fit-content;
    }
    .container3 {
        width: fit-content;
    }
    .container4 {
        width: fit-content;
    }
    .container5 {
        width: fit-content;
    }
 }
   /* media query at 277px */

@media(max-width:277px){
    .container1 {
        width: fit-content;
    }  
    .container1 .wrap-row {
        margin: 0px 45.4062px 0px 45.3958px;
    }
    .container3 {
        width: fit-content;
        
    }
}
  
@media(max-width:260px){
    header .nav{
        gap: 50px;
    }
    header .nav{
        padding: 0px 20px;
    }
    .first-footer-row .icon{
        gap: 10px;
      }
      .first-footer-row .icon{
        gap: 10px;
      }
}
     /* media query at 190px */
@media(max-width:190px){
    header .nav{
        gap: 20px;
    }
    header .nav{
        padding: 0px 5px;
    }
}
      /* media query at 130px */
@media(max-width:138px){
    header .nav{
        gap: 0px;
    }
    header .nav{
        padding: 0px 0px;
    }
}